#tela{background-color: black;}

.titulo {text-align: center;
    color: white;
    font-family: Georgia, 'Times New Roman', Times, serif; }

ol {text-align: center;
    color: white;
    font-family: Georgia, 'Times New Roman', Times, serif; }

.baixo {text-align: center;
    color: white;
    font-family: Georgia, 'Times New Roman', Times, serif; }

a {color: white;}

