body {
    background-color: gray;
}

.titulo {text-align: center;
    color: white;
    font-family: Georgia, 'Times New Roman', Times, serif; }

ol {text-align: center;
    color: white;
    font-family: Georgia, 'Times New Roman', Times, serif; }

.baixo {text-align: center;
    color: white;
    font-family: Georgia, 'Times New Roman', Times, serif; }

a {color: red;
   text-decoration: underline black;
   text-shadow: 5px 5px 10px black ;
  }

.letras {
    animation-duration: 3s;
    animation-name: slidein;
}

@keyframes slidein {
    from {
        margin-left: 100%;
        width: 300%;
    }

    to {
       margin-left: 0%;
       width: 100%;
    }
}

.letras h1,h2{
    text-decoration: underline rgb(0, 0, 0) double;
    text-shadow: 5px 5px 10px rgb(0, 0, 0);
}